KeycloakIssuerURL:     "http://localhost:8080/realms/sana-lms"
KeycloakAudience:      "account"
KeycloakAdminUser:     "test@test.com"
KeycloakAdminPassword: "999999"
KeycloakAdminClientID:    "sana-lms-admin-api"
KeycloakAdminClientSecret: ""