{
  "object_storage": [
    {
      "type": "s3",
      "region": { "$env": "S3_REGION" },
      "endpoint": { "$env": "S3_ENDPOINT" },
      "path_style_forcing": true,
      "access_key_id": { "$env": "S3_ACCESS_KEY" },
      "secret_access_key": { "$env": "S3_SECRET_KEY" },
      "buckets": {
        "certificates": {
          "name": "certificates"
        }
      }
    }
  ]
}
